######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

######## GENERAL .NET IGNORES ########

# Ignore binaries in the source
src/*/bin
src/*/obj
src/*/license.xml

# Ignore user-scoped solution and project settings
*.user
*.suo
.vs/

# NuGet packages
packages/*
!packages/repositories.config
Build/*.nupkg

# Docker related files
test/*
