<!--
Serialization Settings Patch File for Unicorn

This file adds pipeline items to support serializing the content tree to disk in more advanced ways than the default,
specifies which items to auto-serialize, and adds a saveUI handler to prevent overwriting changed serialized files on disk.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<serialization>
			<default>
				<include database="master" path="/sitecore">
					<!--
					Each include can also have several types of exclusion added under them to exclude specific subitems:
					<exclude path="/sitecore/content" />
					<exclude template="Page" />
					<exclude templateid="{8EF706F3-71D1-4EE2-BADF-99018AF186C9}" />
					<exclude id="{8EF706F3-71D1-4EE2-BADF-99018AF186C9}" />-->
				</include>
				<include database="core" path="/sitecore" />
			</default>
		</serialization>

		<unicorn>
			<dependencyRegistry type="Unicorn.Dependencies.DefaultDependencyRegistry, Unicorn" />
		</unicorn>

		<processors>
			<saveUI>
				<processor patch:before="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" mode="on" type="Unicorn.SerializationConflictProcessor, Unicorn"/>
			</saveUI>
		</processors>

		<dataProviders>
			<unicorn type="Unicorn.Unicorn$(database)DataProvider, Unicorn">
				<param connectionStringName="$(1)"/>
				<Name>$(1)</Name>
			</unicorn>
		</dataProviders>

		<!-- REMOVE THESE PATCHES ON DELIVERY ENVIRONMENTS (this will cause them to not care about Unicorn) -->
		<databases>
			<database id="master">
				<dataProviders>
					<dataProvider>
						<patch:attribute name="ref">dataProviders/unicorn</patch:attribute>
					</dataProvider>
				</dataProviders>
			</database>
			<database id="core">
				<dataProviders>
					<dataProvider>
						<patch:attribute name="ref">dataProviders/unicorn</patch:attribute>
					</dataProvider>
				</dataProviders>
			</database>
		</databases>
	</sitecore>
</configuration>
