<!--
Serialization Settings Patch File for Unicorn

This file adds pipeline items to support serializing the content tree to disk in more advanced ways than the default,
specifies which items to auto-serialize, and adds a saveUI handler to prevent overwriting changed serialized files on disk.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<serialization>
			<!-- 
				See the Sitecore Serialization Guide for more details on how Serialization Presets work. This configuration is used
				by the default Unicorn Predicate to determine what items should be serialized. You can define other presets
				if you want to serialize multiple sets of items using different settings. 
			-->
			<default>
				<!--
					Each include can also have several types of exclusion added under them to exclude specific subitems:
					<exclude path="/sitecore/content" />
					<exclude template="Page" />
					<exclude templateid="{8EF706F3-71D1-4EE2-BADF-99018AF186C9}" />
					<exclude id="{8EF706F3-71D1-4EE2-BADF-99018AF186C9}" />
				-->

				<include database="core" path="/sitecore/system/Field types"/>
				<include database="core" path="/sitecore/system/Settings" />
				<include database="core" path="/sitecore/content/Documents and settings/All users"/>
				<include database="core" path="/sitecore/content/Applications"/>
				<include database="master" path="/sitecore/layout"/>
				<include database="master" path="/sitecore/system">
					<exclude path="/sitecore/system/Publishing targets" />
					<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Website" />
					<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Local Forms" />
					<exclude path="/sitecore/system/Modules/Web Forms for Marketers/Sample forms" />
					<exclude path="/sitecore/system/Modules/Azure" />
				</include>
				<include database="master" path="/sitecore/templates">
					<exclude path="/sitecore/templates/System"/>
				</include>
			</default>
		</serialization>

		<unicorn>
			<!--
				The dependency registry is used to look up dependencies within Unicorn. By default it uses an inbuilt copy of
				TinyIoC, but you can extend it to utilize almost any IoC container if you wish to integrate Unicorn's dependencies
				with your existing DI setup.
			-->
			<dependencyRegistry type="Unicorn.Dependencies.DefaultDependencyRegistry, Unicorn" />
		</unicorn>

		<processors>
			<saveUI>
				<!-- 
					This processor will compare the pre-save version of the item to what's serialized on disk
					and throw a warning box if they do not match. This helps prevent overwriting of data if you
					happen to forget to sync changes into Sitecore.
				-->
				<processor patch:before="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" mode="on" type="Unicorn.SerializationConflictProcessor, Unicorn"/>
			</saveUI>
		</processors>

		<dataProviders>
			<!-- 
				Register the Unicorn data provider for use. If a database hooks to the Unicorn data provider it will
				automatically synchronize changes to the database that match the predicate into the serialization provider.
			-->
			<unicorn type="Unicorn.Unicorn$(database)DataProvider, Unicorn">
				<param connectionStringName="$(1)"/>
				<Name>$(1)</Name>
			</unicorn>
		</dataProviders>

		<!-- 
			Hook the Unicorn Data Provider into the master and core databases.
			If you're not syncing anything in core you can safely unregister it from there.
			
			REMOVE THESE PATCHES ON CONTENT DELIVERY ENVIRONMENTS to avoid any performance hit from pointless serialization checks.
		-->
		<databases>
			<database id="master">
				<dataProviders>
					<dataProvider>
						<patch:attribute name="ref">dataProviders/unicorn</patch:attribute>
					</dataProvider>
				</dataProviders>
			</database>
			<database id="core">
				<dataProviders>
					<dataProvider>
						<patch:attribute name="ref">dataProviders/unicorn</patch:attribute>
					</dataProvider>
				</dataProviders>
			</database>
		</databases>
	</sitecore>
</configuration>
