<!--
	Unicorn LinkDatabase Configuration

	This file configures the Unicorn serialization system to automatically keep LinkDatabase references up to date. 

	Disabling this will speed up your sync a bit, but cause internal Sitecore Item referencing to fail.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<unicornSyncComplete>
				<processor type="Unicorn.Pipelines.UnicornSyncComplete.RebuildLinkDatabaseForSyncedItems, Unicorn" />
			</unicornSyncComplete>
		</pipelines>
	</sitecore>
</configuration>
