<!--
	Unicorn Auto Publish Configuration

	This file configures the Unicorn serialization system to automatically publish items that it syncs.

	This file should be removed on content delivery environments.

	https://github.com/SitecoreUnicorn/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<pipelines>
			<unicornSyncComplete>
				<!-- at the end of each configuration's sync, we throw the items it changed into ManualPublishQueueHandler's queue -->
				<processor type="Unicorn.Pipelines.UnicornSyncComplete.AddSyncedItemsToPublishQueue, Unicorn" />
			</unicornSyncComplete>

			<unicornSyncEnd>
				<!-- when all configurations have synced, fire off a publish that processes the queue we've accumulated -->
				<processor type="Unicorn.Pipelines.UnicornSyncEnd.TriggerAutoPublishSyncedItems, Unicorn">
					<PublishTriggerItemId>/sitecore/templates/Common/Folder</PublishTriggerItemId>
					<!-- the trigger item can be any leaf node Sitecore item - just has to have a 'starting point' for the publish -->
					<!-- these are the database(s) to publish synced items to -->
					<TargetDatabases hint="list:AddTargetDatabase">
						<web>web</web>
					</TargetDatabases>
				</processor>
			</unicornSyncEnd>

			<publish>
				<!--
					This handler manually injects arbitrary items into the publish queue so that the next publish to occur will cause the injected items to get published. 
					See https://www.velir.com/blog/2013/11/22/how-create-custom-publish-queue-sitecore et. al.
				-->
				<!-- if for some reasons you do not have buckets enabled and/or if you have ~\App_Config\Sitecore\Buckets\Buckets.config disabled, use the below patch instead
					<processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.AddItemsToQueue, Sitecore.Kernel']" type="Unicorn.Publishing.ManualPublishQueueHandler, Unicorn"/>
				 -->
				<processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.AddBucketFoldersToQueue, Sitecore.Buckets']" type="Unicorn.Publishing.ManualPublishQueueHandler, Unicorn"/>
			</publish>
		</pipelines>
		<settings>
			<!-- 
				Enable legacy publishing if you're on an older Sitecore release from before the PublishManager API was published
			-->
			<setting name="Unicorn.LegacyPublishing" value="false" />

			<!-- 
				Max number of items that will be processed individually by the publishing code.
				If number of changed items in a sync operation goes > MaxItemsToQueue, a system Smart Publish will be executed instead
				Set this value to 0 if you always want Smart Publish to happen. Set it to something silly (like 1000000) if you never want Smart Publish to happen
			-->
			<setting name="Unicorn.MaxItemsToQueue" value="1000" />
		</settings>
	</sitecore>
</configuration>
