<!--
	Unicorn.GeneralSherman.config
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<sequoia>
					<include    path="/sitecore/content/mysite"
								templates="*"
								levels="2"
								database="master"
					/>

					<include path="query:/sitecore/content/*[@@name != 'Home']//*">
						<comparisonStrategy>updateOnRevisionChange</comparisonStrategy>
					</include>

					<include    path="/sitecore/content/global/configuration//"
								ignoreFields="environment*,endpoint"
								languages="en"
					/>
				</sequoia>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
