<!--
SHARED SECRET CONFIGURATION EXAMPLE
This is a config file that can be used as a basis to set the Unicorn PowerShell remote API's shared secret 
without altering the stock config file. Duplicate this file and set a long, 32+ character secret to enable
invoking Unicorn with the PowerShell API, e.g. for CI.

See the README here for more on setting up remote API: https://github.com/kamsar/Unicorn

Need some randomness? Try here: https://www.random.org/passwords/?num=5&len=24&format=html&rnd=new
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<authenticationProvider>
				<SharedSecret>0xBADBEEF (NOTE: this can be anything not just hex. Even this text is a valid secret. But don't just use it, or else Robbert Hack will say hello.)</SharedSecret>
			</authenticationProvider>
		</unicorn>
	</sitecore>
</configuration>