<!--
Serialization Settings Patch File for Unicorn

This file adds pipeline items to support serializing the content tree to disk in more advanced ways than the default,
specifies which items to auto-serialize, and adds a saveUI handler to prevent overwriting changed serialized files on disk.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<serialization>
			<default>
				<include database="master" path="/sitecore">
					<!--
					Each include can also have several types of exclusion added under them to exclude specific subitems:
					<exclude path="/sitecore/content" />
					<exclude template="Page" />
					<exclude templateid="{8EF706F3-71D1-4EE2-BADF-99018AF186C9}" />
					<exclude id="{8EF706F3-71D1-4EE2-BADF-99018AF186C9}" />-->
				</include>
				<include database="core" path="/sitecore" />
			</default>
		</serialization>

		<processors>
			<saveUI>
				<processor patch:before="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" mode="on" type="Unicorn.SerializationConflictProcessor, Unicorn"/>
			</saveUI>
		</processors>

		<events>
			<event name="item:saved">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemSaved"/>
			</event>
			<event name="item:copied">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemCopied"/>
			</event>
			<event name="item:renamed">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemRenamed"/>
			</event>
			<event name="item:deleted">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemDeleted"/>
			</event>
			<event name="item:moved">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemMoved"/>
			</event>
			<event name="item:versionRemoved">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemVersionRemoved"/>
			</event>
			<event name="item:templateChanged">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemVersionRemoved"/>
			</event>
		</events>
	</sitecore>
</configuration>
